body{
    background-color: darkgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


header {
    background-color: lightgray;
    height: 40px;
    text-align: center;

}

h3{
    color: black;
    font-size: 220%;
}
h2{
    font-size: 220%;
    color: black;
}
h4{
    font-size: 150%;
    color: black;
}
}
nav {
    float: right;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}

li a {
    display: block;
    background-color: darkgray;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.left{
    width: 70%;
    height: 100%;
    float: left;
    padding: 10px;

}
div.right{
    width: 25%;
    height: 100%;
    float: right;
    padding: 10px;


}
input {
    padding: 10px 20px;
}