h1{
    margin-bottom: auto;
    padding-bottom: inherit;
    color:blue;
    background-color: whitesmoke;
}

body{
    
    background-image: url("highdefinitionsmileywallpapers1.jpeg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

div {
    background-color: transparent;
    color: yellowgreen;
    padding: 20px;

}
footer{
    background-color: whitesmoke;
    color:blue;
    float:inherit;
}
